#moreFromShopContainer {
    display: "flex";
    background-color: "#ffeee6";
    border-color: "red";
    border-style: "solid";
    border-width: "5px";
    max-width: "100%";
    height: "65em";
    max-height: "100%";
}

#shopLogoContainer {
    margin-left: "10px";
    margin-top: "25px";
    max-width:"145px";
    max-height:"145px";
    background-color: "white";
    border-radius: "6px";
}

img {
    background-size: "container";
    max-width: "100%";
    max-height: "auto";
}

#shopName:hover {
    text-decoration: underline;
    cursor: pointer;
}